.component-13 {
  height: 775px;
  background-color: #222533;
  color: #fff;
  padding: 99px 20px 46px;

  .container {
    gap: 32px;
    @extend .flex-centering;

    .radio {
      form {
        position: relative;
        bottom: 6px;
        left: 1px;
      }
      label {
        @extend .form-label;
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
      input {
        @extend .radio-input;

        &:checked ~ .checkmark::before {
          display: block;
        }
      }
      .checkmark {
        border-radius: unset !important;

        @extend .checkmark;
        &::before {
          @extend .checkmark-before;
          border-radius: unset !important;
        }
      }
    }

    .below {
      padding-left: 2px;
      margin-top: 28px;
      form {
        width: 570px;
        gap: 20px;
        align-items: stretch;
      }
      input {
        height: 50px;
        padding-left: 20px;
        @extend .input-textarea;
        &::placeholder {
          color: #fff;
        }
      }
      textarea {
        height: 100px;
        @extend .input-textarea;
      }
    }

    .upper {
      ul {
        gap: 26px;
      }
    }
    h5 {
      margin-bottom: 45.5px;
    }
    .inner-1 p {
      padding-left: 3px;
      margin-bottom: 17px;
    }

    i {
      font-size: 24px;

      &:hover {
        color: #16b5d8;
      }
    }

    button {
      width: 100%;
      height: 52px;

      &:hover {
        opacity: 0.7;
      }
    }

    .visualisation {
      width: 125px;
      height: 125px;
      background-color: $color-white;
      border: 5px solid $color-white;
      position: relative;

      img {
        @extend .position-center;
      }
    }

    .box {
      justify-content: space-between;
      gap: 20px;

      &:hover {
        cursor: pointer;
      }

      &:hover .visualisation {
        background: transparent;
      }

      &:not(:last-child) {
        margin-bottom: 39.6px;
      }
    }

    .description {
      & p:first-child {
        position: relative;
        bottom: 5px;
      }

      & p:nth-child(2) {
        padding-bottom: 3px;
        position: relative;
        bottom: 3px;
      }
    }

    h5 {
      margin-bottom: 53.5px;
    }
  }
}

@import "./responsive-13";
