@media only screen and (max-width: 1280px) {
  .component-13 {
    height: unset;

    .container {
      flex-direction: column;
      gap: 73px;

      .inner-1 p {
        padding-left: unset;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .component-13 {
    padding-bottom: 131px;

    .container {
      .below form {
        width: unset;
        button,
        input,
        textarea,
        .inner-2 {
          width: 80%;
        }
      }

      .upper ul {
        gap: 2.8%;
        justify-content: center;
      }
      br {
        display: none;
      }

      .inner-1 {
        text-align: center;
      }

      h5 {
        font-size: 31px;
        line-height: unset;
      }

      p {
        font-size: 13px;
        margin: 0 auto;
      }
      .visualisation {
        min-height: 117px;
      }

      .visualisation,
      .description {
        flex-basis: 100%;
      }
    }

    .box {
      align-items: center;
      flex-direction: column;
      align-items: flex-start;
    }

    .inner-1 ul {
      flex-wrap: wrap;
      i {
        font-size: 21px;
      }
    }
  }
}
