.component-8 {
  height: 747px;
  background-color: $light-grey;
  padding-top: 138px;

  .container {
    align-items: center;
    text-align: center;

    .inner-1 {
      padding-left: 18px;
      margin-bottom: 62px;

      h5 {
        margin-bottom: 24px;
      }
    }

    .inner-2 {
      background-color: #fff;
      width: 1170px;
      height: 148px;
      margin-left: 18px;
      margin-bottom: 35px;
      @extend .flex-centering;
    }

    .inner-3 {
      margin-left: 20px;

      div {
        width: 112px;
        height: 112px;
        border-radius: 50%;
        border: 5px solid #fff;
        box-shadow: 0 11px 7px -10px #00000017;
        margin-bottom: 16px;
      }
    }

    .inner-4 {
      label {
        @extend .form-label;
        margin-top: 37px;
        margin-left: 27px;
        &:not(:last-child) {
          margin-right: 5px;
        }
      }
      input {
        @extend .radio-input;
        &:checked ~ .checkmark::before {
          display: block;
        }
      }
      .checkmark {
        @extend .checkmark;
        &::before {
          @extend .checkmark-before;
        }
      }
    }
  }
}

@import "./responsive-8";
