.component-9 {
  height: 881px;
  background-color: $dark-grey;
  color: #fff;
  text-align: center;
  padding-top: 104px;

  .inner-1 {
    padding-left: 17px;
    margin-bottom: 42px;

    h5 {
      margin-bottom: 18px;
    }
  }

  .inner-2 {
    margin-left: 16px;
    gap: 62px;
    @extend .flex-centering;

    .box {
      & > div {
        width: 300px;
        height: 141.15px;
        margin-bottom: 25px;
      }
    }

    .box-1 {
      text-align: end;
      margin-top: 27px;
      .box-upper {
        justify-content: flex-end;
        gap: 14.3px;
      }
    }

    .box-like {
      background-color: $medium-grey;
      height: 649px;
      width: 446px;
      border-top-right-radius: 36px;
      border-top-left-radius: 36px;
    }

    .box-3 {
      text-align: start;
      margin-top: 27px;
      .box-upper {
        justify-content: flex-start;
        gap: 10.7px;
      }
    }

    .box-upper {
      margin-bottom: 9px;
      @extend .flex-centering;

      .g-box {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @extend .flex-centering;
      }
    }
  }
}

@import "./responsive-9";
