.component-1 form {
  margin-top: 26px;
  padding-right: 15px;
  label {
    @include form-label;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  input {
    @include radio-input;
    &:checked ~ .checkmark::before {
      display: block;
    }
  }
  .checkmark {
    @include checkmark;
    &::before {
      @include checkmark-before;
    }
  }
}
