@import "../../shared";
@import "./button";
@import "./form";

.component-1 {
  position: relative;
  background-color: $dark-grey;
  color: #fff;
  height: 1280px;
  .container {
    position: absolute;
    @include position(471px, 50%);
    transform: translateX(-50%);
    width: 1126px;
    height: 264px;
    text-align: center;
    margin-left: 9px;
    & p:first-child {
      letter-spacing: 0.3em;
      margin-bottom: 18px;
      padding-left: 11px;
      white-space: nowrap;
    }
    & p:nth-child(3) {
      margin-top: 11px;
    }
  }
}

.component-1 {
  button {
    color: inherit;
    width: 200px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #fff;
    cursor: pointer;
    transition-duration: 0.2s;
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  .buttons {
    margin-top: 40px;
    padding-left: 14px;
  }
}

@import "./responsive";
