@import "../../shared";
@import "./responsive";
@import "./button";
@import "./form";

.component-1 {
  position: relative;
  background-color: var(--dark-grey-color);
  color: #fff;
  height: 1280px;
  .container {
    position: absolute;
    left: 50%;
    top: 471px;
    transform: translateX(-50%);
    width: 1126px;
    height: 264px;
    text-align: center;
    margin-left: 9px;
    & p:first-child {
      letter-spacing: 0.3em;
      margin-bottom: 18px;
      padding-left: 11px;
      @include texts((Lato-Regular, sans-serif), 30px, 19px);
    }
    & p:nth-child(2) {
      @include texts((Lato-Black, sans-serif), 60px, normal);
    }
    & p:nth-child(3) {
      margin-top: 11px;
      @include texts((Lato-Light, sans-serif), 30px, 36px);
    }
  }
}
