.component-2 {
  height: 90px;
  padding: 37px 457px 37.3px 375px;
  justify-content: start;
  color: var(--medium-grey-color);
  box-shadow: 0 11px 7px -10px #00000017;
  nav {
    margin-left: 151px;
    a:hover {
      color: $main-green-color;
      transition: all 0.2s ease-out;
    }
  }
  .logo a {
    gap: 14px;
  }
  .logo span {
    color: var(--dark-grey-secondary);
    font-size: 35.69px;
    line-height: 13.77px;
  }
  li {
    line-height: 19px;
    &:not(:last-child) {
      margin-right: 46.3px;
    }
  }
}

/* mobile nav */
.mobile-nav {
  height: 100%;
  color: #fff;
  display: none;

  background-image: linear-gradient(
    315deg,
    var(--dark-grey-color),
    var(--light-grey-color)
  );
  box-shadow: rgb(0 0 0 / 15%) 6.95px 0 2.6px;
  box-shadow: inset 0 0 5px #707070;
  .component-2 {
    display: inline-block;
    height: 100%;
  }
  .mobile-nav .logo {
    margin-bottom: 35px;
  }
  ul {
    gap: 27px;
    color: var(--dark-grey-color);
    text-align: center;
  }
}

@import "./responsive-2";
