.component-6 {
  height: 540px;
  text-align: center;
  padding-top: 104px;

  .inner-1 {
    margin-bottom: 44px;

    p {
      padding-left: 18px;
    }
    h5 {
      padding-left: 19px;
      margin-bottom: 24px;
    }
  }

  .inner-2 {
    .box {
      justify-content: flex-start;
      flex-grow: 1;
      border: 1px solid #ecf0f1;
      padding-top: 146px;
      padding-left: 9px;
      height: 301px;
      position: relative;
      transition: all 0.2s ease-out;

      img {
        @include position(15.5%, 46.5%);
      }

      h6 {
        margin-bottom: 14px;
      }

      &:hover {
        background-color: $light-grey;
        cursor: pointer;
        transform: translateY(-3px);
      }
    }

    .box-1 h6 {
      padding-left: 3px;
    }
    .box-2 {
      h6 {
        padding-left: 9px;
      }

      p {
        padding-left: 7px;
      }
    }

    .box-3 {
      h6 {
        padding-left: 10px;
      }
      p {
        padding-left: 11px;
      }
    }

    .box-4 h6 {
      padding-left: 17px;
    }
  }
}

@import "./responsive-6";
