@media only screen and (max-width: 1280px) {
  .component-14 .container {
    padding-left: unset;

    .list {
      gap: unset;
      justify-content: space-around;
    }
  }
}

@media only screen and (max-width: 768px) {
  .component-14 {
    padding-left: 5px;
    padding-right: 5px;

    h5 {
      line-height: unset;
    }
    ul {
      flex-wrap: wrap;

      li {
        flex-basis: 12%;
      }
    }
  }
}
