.component-15 {
  height: 603px;
  background-color: #1a1c27;
  color: $color-white;
  padding-top: 90px;
  padding-left: 17px;

  .container {
    gap: 32px;
    justify-content: center;
    @extend .flex-centering;
  }

  h3 {
    font-size: 59.49px;
    line-height: 13.77px;
    letter-spacing: 1.12px;
    position: relative;
  }

  h5 {
    margin-bottom: 40px;
  }

  .description {
    & div:nth-child(1) {
      position: relative;
      display: inline-block;
      margin-bottom: 44px;

      & img {
        position: absolute;
        width: 18px;
        height: 20px;
        right: -26px;
        top: -14px;
      }

      & div:nth-child(2) {
        width: 370.26px;
        padding-left: 3px;

        & p:nth-child(1) {
          margin-bottom: 26px;
        }
      }
    }
  }

  .about {
    position: relative;
    padding-left: 29px;
    margin-bottom: 75px;

    &::after {
      content: "";
      position: absolute;
      background-color: $main-green-color;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 72%;
    }
  }

  input::placeholder {
    color: $medium-grey;
    font-size: 14px;
    line-height: 24;
    font-family: lato-regular;
  }

  .wrap {
    position: relative;
    margin-top: 25px;
    input {
      background-color: $dark-grey;
      width: 370px;
      height: 50px;
      padding-left: 30.8px;
      border-radius: 3px;
    }

    button {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 3px;
    }
  }

  .visualisation {
    min-width: 91px;
    min-height: 91px;
    background-color: #fff;
    position: relative;

    p:nth-child(1) {
      margin-top: -9px;
    }

    img {
      @extend .position-center;
    }

    &:hover {
      background-color: $main-green-color;
      cursor: pointer;

      &:hover + p {
        color: $color-white;
      }
    }
  }

  .inner-2 {
    .boxes {
      gap: 18.1px;

      .box {
        width: 369px;
        height: 101.88px;
        gap: 20px;
        align-items: flex-start;
      }
    }

    .about {
      padding-left: 26px;
      margin-bottom: 58px;
    }
  }

  .box p {
    position: relative;
    bottom: 8px;
  }

  .inner-3 {
    a {
      display: inline-block;
      margin-top: 26px;
      &:hover {
        transform: scale(0.95);
        opacity: 0.95;
      }
    }
    .about {
      padding-left: 25px;
      margin-bottom: 60px;
    }
    .boxes {
      display: grid;
      grid-template-columns: repeat(4, 85px);
      gap: 10px;
    }

    .visualisation {
      min-width: 84px;
      min-height: 84px;

      &:hover {
        background-color: $medium-grey;
        border: 3px solid #fff;
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  .search button:hover i {
    transform: scale(0.8);
  }
}

@import "./responsive-15";
