@media only screen and (max-width: 1919px) {
  .component-12 {
    padding-bottom: 41px;
    padding: 0 20px 41px;
    height: unset;

    .container {
      .inner-2 {
        margin-left: unset;
        margin: 0 auto;
      }
      .inner-1 {
        padding-left: unset;
      }
    }
  }
}

@media only screen and (max-width: 1292px) {
  .component-12 {
    br {
      display: none;
    }

    .container {
      .inner-2 {
        width: unset;
        gap: 40px;
      }

      .box {
        min-width: unset;
        flex-basis: 33.3%;

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          margin-bottom: unset;
        }
      }

      h6 {
      }

      .description > div {
        position: static;
      }

      .visual {
        min-width: 40%;
      }

      .inner-1 p {
        padding: 0 99px;
      }
    }
  }

  @media only screen and (max-width: 1024px) {
    .component-12 {
      .container {
        h6 {
          font-size: 15px;
        }

        span {
          font-size: 13px;
        }

        .box {
          flex-basis: 70%;
        }

        .visual {
          min-width: unset;
          width: 35%;
        }

        .description {
          flex-basis: 64%;
        }
      }
    }
  }

  @media only screen and (max-width: 768px) {
    .component-12 {
      .container {
        padding-top: 39px;
        padding-bottom: 131px;

        .inner-1 {
          p {
            padding: 0px 23px;
          }
        }
        .inner-2 {
          width: unset;
          gap: 145px;
        }
      }
    }
    .visual {
      width: unset;
    }
  }
}
