@media only screen and (max-width: 1919px) {
  .component-11 {
    padding-left: unset;
  }
}

@media only screen and (max-width: 1280px) {
  .component-11 {
    height: unset;
    padding-bottom: 60px;
    .inner-1 {
      width: 40%;
      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .component-11 {
    .inner-1 {
      display: none;
    }
    .inner-2 {
      margin-left: unset;
      padding-top: 38px;
    }
    .below-part {
      margin-right: unset;
    }
    br {
      display: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .component-11 {
    padding-top: unset;

    .visual {
      width: 55%;
      min-height: 100px;
    }

    .box {
      flex-direction: column;

      img {
        max-width: 35px;
        max-height: 40px;
      }
    }

    .boxes {
      width: unset;
      justify-content: center;
      height: unset;
      gap: 29px;

      & > div {
        flex-basis: 70%;
      }
    }

    h5 {
      font-size: 32px;
      text-align: center;
      line-height: unset;
    }

    h6 {
      line-height: unset;
    }
  }
}
