.component-4 {
    height: 501px;
    background-color: var(--light-grey-color);
  }
  .component-4 button {
    color: #34495E;
    width: 173.68px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    cursor: pointer;
    box-shadow: 0 11px 7px -10px #00000017;
    transition: all .2s ease-out;
    position: relative;
  
  }


  .component-4 .container {
    padding-top: 81px;
  
  }
  .component-4 .inner-1 {
    flex-basis: 570px;
    height: 397px;
    padding-top: 24px;
    margin-left: 4px;
  }
  
  .component-4 .inner-1 p:nth-child(2) {
    margin-bottom: 24px;
  }
  .component-4 .inner-1 p:nth-child(3) {
    margin-bottom: 27px;
  }
  
  .component-4 .inner-2 {
    flex-basis: 543px;
  
  }
  .component-4 h5 {
    margin-bottom: 27px;
  }
  
  .component-4 .inner-2 {
    margin-left: 63px;
    margin-bottom: 24px;
  }
