.component-14 {
  height: 106px;
  background-color: var(--dark-grey-color);
  border-top: 2px solid #fff;
  box-shadow: inset 0 0 5px #707070;
}

.component-14 .container {
  padding-top: 34px;
  padding-left: 15px;
}
.component-14 ul {
  gap: 76px;
}

.component-14 img {
  transition: all 0.2s ease-out;
}
.component-14 img:hover {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 var(--main-green-color));
  filter: opacity(0.5) drop-shadow(0 0 0  var(--main-green-color);
}

