/* .component-6 {
    height: 540px;
    text-align: center;
}
.component-6 .container {
    margin: 104px 0 0 0;
}
.component-6 .box { */
    /* border: 1px solid #ECF0F1; */
    /* border: 1px solid red;
    padding-top: 47px;
    padding-bottom: 20px; */
    /* flex-basis: 480px; */
    /* justify-content: flex-start;
    flex-grow: 1;
    height: 301px;
}

.component-6 h5 {
    margin-bottom: 24.4px;

}
.component-6 .inner-1 {
    width: 630.7px;
    height: 144.77px;
}

.component-6 img {
    margin-bottom: 36.4px;
}
.component-6 h6 {
    margin-bottom: 14.8px;
}

.component-6 .box-1  {
    padding-top: 39px;
    padding-left: 4px;
}
.component-6 .box-2 {
    padding-top: 35px;
    padding-left: 5px;
}
.component-6 .box-3 img {
    margin-left: 16px;
}
.component-6 .box-3 h6 {
    padding-left: 15px;
    padding-top: 3px;
}
.component-6 .box-4 {
    padding-top: 42px;
}
.component-6 .box-4 img{ 
    margin-left: 26px;
}
.component-6 .box-4 h6 {
    margin-left: 25px;
} */


/* second */

.component-6 {
    height: 540px;
    text-align: center;
    padding-top: 104px;
}

.component-6 h5 {
    padding-left: 19px;
    margin-bottom: 24px;
}
.component-6 .inner-1 {
    margin-bottom: 44px;
}
.component-6 .inner-1 p {
    padding-left: 18px;
}

.component-6 .box {
    justify-content:flex-start;
    flex-grow: 1;
    border: 1px solid red;
    padding-top: 44px;
    padding-left: 7px;
    padding-top: 45px;
    height: 301px;

}
.box img {
    width: 50px;
    height: 50px;
}

.component-6 .box img {
    margin-bottom: 4px;
    margin-bottom: 40px;
}
.component-6 .box h6 {
    margin-bottom: 14px;
}
.component-6 .box-2 {
    padding-left: 12px;
}
.component-6 .box-2 img {
    margin-bottom: 34px;
}