.component-9 {
    height: 881px;
    background-color: var(--dark-grey-color);
    color: #fff;
    text-align: center;
    padding-top: 104px;
}
.component-9 .g-box {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
}

.box-like {
    background-color: var(--medium-grey-color);
    height: 649px;
    width: 446px;
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;

}

.component-9 .inner-1 {
    padding-left: 17px;
    margin-bottom: 42px;
}

.component-9 h5 {
margin-bottom: 18px;
}
.component-9 .box > div {
    width: 300px;
    height: 141.15px;
    margin-bottom: 25px;
    
}

.component-9 .box-upper {
    margin-bottom: 9px;
    
}
.component-9 .box-1 .box-upper {
    justify-content: flex-end;
    gap: 14.3px;
}
.component-9 .box-3 .box-upper {
    justify-content: flex-start;
    gap: 10.7px;
}
.component-9 .box-1 {
    text-align: end;
}

.component-9 .box-3 {
    text-align: start;
}
.component-9 .inner-2 {
    margin-left: 16px;
    gap: 62px;
}
.component-9 .box-1, .component-9 .box-3 {
    margin-top: 27px;
}
