
.component-2 {
    height: 90px;
    padding: 37px 457px 37.3px 375px ;
    justify-content: start;
    color: var(--medium-grey-color);
    box-shadow: 0 11px 7px -10px #00000017;
  }
  .component-2 nav {
    margin-left: 151px;
  }
  .component-2 .logo a {
    gap: 14px
  }
  .component-2  nav a:hover {
    color: var(--main-green-color);
    transition: all .2s ease-out;
  }
  
  .component-2 .logo span {
    color: var(--dark-grey-secondary);
    font-size: 35.69px;
    line-height: 13.77px;
  }
  .component-2 li {
    line-height: 19px;
  }
  .component-2 li:not(:last-child) {
    margin-right: 46.3px;
  }